{-# LANGUAGE NoImplicitPrelude                                               #-}

module Main
  ( main
  ) where

import           Prelude

import qualified ${moduleName}.Main


main :: IO ()
main = ${moduleName}.Main.main
